* {
    font-family: "Titillium Web";
}

body {
    min-height: 100vh;
}

header {
    margin-bottom: 8rem;
}

footer {
    margin-top: 8rem;
}

hr {
    background-color: #595f61;
}

small {
    color: #9aa7ab;
}

a:focus .glyphicon-footer {
    outline: 0 !important;
    outline-offset: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.flex-grow {
    flex: 1;
}

.navbar-brand {
    color: #fc5769 !important;
}

.no-extras {
    border: 0 !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.search-navbar {
    background-color: #595f61;
}

.glyphicon-footer {
    font-size: 30px;
}

.no-focus:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#btn-search {
    color: #ffffff;
}

#btn-search:hover {
    color: #fc5769;
}

/*
    Cambiar el color de la barra vertical del input
*/
input[type="search"] {
    caret-color: #fc5769;
    color: #ffffff !important;
}

/*
    Quitar la "x" para eliminar el contenido del input search
*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/*
    Cambiar color del placeholder del input search
*/
input[type="search"]::-webkit-input-placeholder {
    color: #ffffff !important;
}

input[type="search"]::-moz-placeholder {
    color: #ffffff !important;
}

input[type="search"]::-ms-placeholder {
    color: #ffffff !important;
}

input[type="search"]::placeholder {
    color: #ffffff !important;
}